<%= semantic_form_for @user, :html => {:class => "form-horizontal"} do |f| %>
	<% f.semantic_errors %>
    <% if @user.errors.any? %>
    <div class="alert alert-error">
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <%= f.inputs do %>
        <% if params[:customer_id] %>
            <%= params[:action] %> user for <%= @customer.name %>
        <% end %>
        <%= f.input :email %>
        <% if params[:customer_id] %>
            <%= f.input :internal, :as => :hidden %>
            <%= f.input :customer_id, :as => :hidden %>
        <% else %>
            <%= f.input :internal %>
            <%= f.input :admin, :as => :radio %>
            <%= f.input :customer_id, :as => :select, :collection => Customer.all %>
        <% end %>
    <% end %>
    
    <%= f.actions do %>
        <%= f.action :submit, :as => :button, :html => {:class => "btn btn-primary"} %>
    <% end %>
	
<% end %>