<h1>Listing users</h1>

<table class="table">
	<thead>
		<tr>
			<th>Email</th>
			<th>Customer</th>
			<th>Internal</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.email, user_path(user.id) %></td>
			<td><%= user.customer_id %></td>
			<td><%= user.internal %></td>
			<td><%= link_to 'Edit', edit_user_path(user) %></td>
			<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br />
<% if params[:customer_id] %>
<%= link_to 'New User', new_customer_user_path(params[:customer_id]), :class=>"btn" %>
<% else %>
<%= link_to 'New User', new_user_path, :class=>"btn" %>
<% end %>