<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if @user.internal != true %>
<p>
  <b>Customer:</b>
  <%= @user.customer_name %>
</p>
<% else %>
    <% if current_user.isAdmin? %>
    <p><b>Internal Admin</b></p>
    <% else %>
    <p><b>Internal User</b></p>
    <% end %>
<% end %>

<div class="btn-group">
    <% if params[:customer_id] %>
        <%=  link_to 'Edit',edit_customer_user_path(params[:customer_id], @user.id), :class=>"btn" %>
        <%= link_to 'Back', customer_users_path(params[:customer_id]), :class=>"btn" %>
    <% else %>
        <%= link_to 'Edit', edit_user_path(@user), :class=>"btn" %>
        <%= link_to 'Back', users_path, :class=>"btn" %>
    <% end %>
</div>