<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Customer:</b>
  <%= @user.customer_id %>
</p>

<p>
  <b>Internal:</b>
  <%= @user.internal %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
