<h1>Listing states</h1>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Abbr</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @states.each do |state| %>
	  <tr>
		<td><%= state.name %></td>
		<td><%= state.abbr %></td>
		<td><%= link_to 'Show', state %></td>
		<td><%= link_to 'Edit', edit_state_path(state) %></td>
		<td><%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</tbody>
</table>

<br />
<%= will_paginate(@states) %>

<%= link_to 'New State', new_state_path, :class=> "btn" %>
