<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @state.name %>
</p>

<p>
  <b>Abbr:</b>
  <%= @state.abbr %>
</p>

<div class="btn-group">
<%= link_to 'Edit', edit_state_path(@state), :class=>"btn" %>
<%= link_to 'Back', states_path, :class=> "btn" %>
</div>