<!-- showLocations partial -->
<a href="#tablewidget" class="block-heading" data-toggle="collapse">Locations in states <span class="label label-warning"><%= @stateLocCount.count %></span></a>
<div id="tablewidget" class="block-body collapse in">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>State</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <% @stateLocCount.each do |key, val| %>
            <tr>
                <td><%= link_to key, customer_locations_path(@customer.id, :state => key) %></td>
                <td><%= val %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

<!--
<ul>
<% @customer.locations.group_by(&:state_id).each do |key, arr| %>
<li><%= key %>: <%= arr.count %></li>
<% end %>
</ul>
-->
