<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<div class="btn-group">
	<%= link_to 'Edit', edit_customer_path(@customer), :class=>"btn" %>
	<%= link_to 'Back', customers_path, :class=>"btn" %>
	<%= link_to 'Add User to customer', new_customer_user_path(@customer.id), :class=>"btn" %>
</div>