<div class="row-fluid">
    <div class="block span4">

        <p>
            <b>File:</b>
            <%= @customer_file.attachment_file_name %>
        </p>
        
        <p>
          <b>Name:</b>
          <%= @customer_file.name %>
        </p>
        
        <p>
          <b>Category:</b>
          <%= @customer_file.category.name %>
        </p>
        
        <% if current_user.internal %>
        <p>
          <b>Customer:</b>
          <%= @customer_file.customer.name %>
        </p>
        <% end %>
    
        <p>
          <b>Location:</b>
          <%= @customer_file.location.store_number %>
        </p>
        
        <div class="btn-group">
        <%= link_to 'Edit', edit_customer_file_path(@customer_file), :class=> "btn" %>
        <%= link_to 'Back', customer_files_path, :class=> "btn" %>
        </div>
    </div>
    
    <div class="block span8">
        <% if @customer_file.isImage? %>
        <div class="block">
            <%= image_tag @customer_file.attachment %>
        </div>
        <% end %>
     
        <div class="btn-group">
        <%= link_to "Download file", download_customer_file_path(@customer_file.id), :target => "_blank", :class=> "btn pull-right" %>
        </div>

    </div>
</div>
