<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer_file.name %>
</p>

<p>
  <b>Category:</b>
  <%= @customer_file.category_id %>
</p>

<p>
  <b>Customer:</b>
  <%= @customer_file.customer_id %>
</p>


<%= link_to 'Edit', edit_customer_file_path(@customer_file) %> |
<%= link_to 'Back', customer_files_path %>
