<% if @user_session.errors.any? %>
<div class="alert alert-error">
    Login error: 
    <% @user_session.errors.full_messages.each do |msg| %>
        <%= msg %></br>
    <% end %>
</div>
<% end %>

<% if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
<% end %>
<% if flash[:notice] %>
    <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>

<%= form_for @user_session do |f| %>

    <%= f.label "Email", :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :email, :class=>"span12" %>
    </div>

    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
    <%= f.password_field :password, :class=>"span12" %>
    </div>
    
    <div class="pull-left">
    <%= link_to "Forgot your password?", password_resets_path  %>
    </div>

    <button type="submit" class="btn btn-primary pull-right">
    Login
    </button>

<% end %>

<div class="clearfix"></div>