<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Customer" %><br />
    <%= f.collection_select :customer_id, Customer.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :store_number %><br />
    <%= f.text_field :store_number %>
  </div>
  
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  
  <div class="field">
    <%= f.label "State" %><br />
    <%= f.collection_select :state_id, State.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="actions">
    <%= f.submit "Save", :class=> "btn btn-primary" %>
  </div>
<% end %>
