<h1>Listing locations</h1>

<table class="table">
	<thead>
		<tr>
			<th>Store Number</th>
			<th>Street</th>
			<th>City</th>
			<th>State</th>
			<th>Zipcode</th>
			<th>Phone</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @locations.each do |location| %>
	  <tr>
		<td><%= link_to location.store_number, location_path(location.id) %></td>
		<td><%= location.street %></td>
		<td><%= location.city %></td>
		<td><%= location.state.name %></td>
		<td><%= location.zipcode %></td>
		<td><%= location.phone %></td>
		<td><%= link_to "<i class='icon-pencil'> </i>".html_safe, edit_location_path(location.id) %><i class="icon-pencil"></i></td>
		<td><%= link_to "<i class='icon-remove'></i>".html_safe, location_path(location.id), method: :delete, data: { confirm: 'Are you sure?' } %><i class="icon-remove"></i></td>
	  </tr>
	<% end %>
	</tbody>
</table>

<div class="btn-toolbar">
<%= link_to 'New Location', new_location_path, :class=> "btn" %>
</div>