<div class="well">
    
<h1>Listing locations</h1>

<table class="table">
	<thead>
		<tr>
            <th>Customer</th>
			<th>Store Number</th>
			<th>Street</th>
			<th>City</th>
			<th>State</th>
			<th>Zipcode</th>
			<th>Phone</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @locations.each do |location| %>
	  <tr>
        <td><%= location.customer.name %></td>
		<td><%= link_to location.store_number, location_path(location.id) %></td>
		<td><%= location.street %></td>
		<td><%= location.city %></td>
		<td><%= location.state_name %></td>
		<td><%= location.zipcode %></td>
		<td><%= location.phone %></td>
		<td>
            <%= link_to icon_edit, edit_location_path(location.id) %> 
            <%= link_to icon_delete, location_path(location.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
	  </tr>
	<% end %>
	</tbody>
</table>

</div>

<div>

<%= link_to 'New Location', new_location_path, :class=> "btn" %>

</div>